@import './variables.scss';

.footer {
  background-color: $black;
  padding: 20px $padding-mobile;
  margin-top: 30px;

  @include breakpoint(sm) {
    margin-top: 40px;
    padding: 20px $padding-tablet;
  }

  @include breakpoint(lg) {
    margin-top: 60px;
    padding: 20px $padding;
  }

  a {
    font-size: 14px;
    color: $white;
  }
}